<div class="container">
  <div [hidden]="loggedIn">
    <mat-grid-list cols="3">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class='login-element'>
            <div class="login-container">
                <div class="login-box-header">
                    <mat-icon class="person-icon">person</mat-icon>
                </div>
                <div class="login-box-body">
                  <form (ngSubmit)="onSubmit()">                    
                    <mat-grid-list cols="9" rowHeight="75px">
                        <mat-grid-tile [rowspan]="1" class="login-icon">
                            <mat-icon>lock</mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="7">
                            <mat-form-field class="justifier">
                                <input matInput type="text" matInput [(ngModel)]="credential.username" name="username" id='username' placeholder="Your Username">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="9" rowHeight="100px">
                        <mat-grid-tile [rowspan]="1"  class="login-icon">
                            <mat-icon>remove_red_eye</mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="7">
                            <mat-form-field class="justifier">
                                <input matInput type="password" matInput [(ngModel)]="credential.password" name="password" id='password' placeholder="Your Password">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-raised-button type="submit" class="login-button">
                      <mat-icon>input</mat-icon> Login
                    </button>
                  </form>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="!loggedIn">
      <h2>You have logged in!</h2>
  </div>
</div>